h1{
    .font(2rem, 'poppins')
}
a{
    text-decoration: none;
    .font()
}
*{
    box-sizing: border-box;
}

.feature{
    .flex();
    padding: 3%;
    // width: 80%;
    margin: auto;
}
.second{
    background-color: @alertAmber;
    width: 100%;
    .flex(center, center);
}
.text{
    width: 70%;
    .flex(center, flex-start);
    flex-direction: column;
    padding: 2%;

}
.description{
    .flex(flex-start, flex-start);

}
.middle{
    align-items: flex-end;
}

.image{
    width: 30%;
    img{
        height: 500px;
    }
}
.product{
    width: 35%;
    .flex(center, flex-end);
    img{
        height: 75%;
        width: 25%;
    }
}
h2{
    .font(3rem, @font1);
    font-weight: bold;
    color: @primary;
    padding: 1%;
}
h3{
    .font(2rem, @font2);
    color: @grey2;
    padding: 1%;
}
h4{
    .font(1.8rem, @font2);
    color: @grey;
    padding:1%;
}
.creators{
    margin: auto;
    width:70%;
    .flex(center, center);
    flex-direction: column;

}

    
   
