#nav-bar{
    .flex(space-between, center);
}
#logo{
    .flex();
    align-items: center;
    color: @primary;
    margin-left: 1%;
}
.site-navigation {
    width: 30%;
    .flex(space-evenly, center);
    padding: 1%;
    a{
        color: black;
    }
}
a:hover{
    color: @primary;
}
.user-navigation{
    width: 20%;
    padding: 1%;
    .flex(space-evenly, center);
    a{
        color: @greenForGo;
    }
}
.banner{
    width: 100%;
}
img{
    width: 100%;
    height: 90vh;
}