@alertAmber: #ffc107ff;
@greenForGo: #27ae60ff;
@warningRed: #ff0c3eff;
@primary: #1e88e5ff;
@black: #ffffffff;
@grey: #646464ff;
@grey2: rgb(61, 60, 60);

@white: #000000ff;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');
@font1: 'poppins';   
@font2: 'Source Sans Pro', sans-serif;
@mobile: 480px;
@tablet: 768px;